*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body, html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    --accent1:#00021C;
    --accent1RGB:0, 2, 28;
    --accent2:#ffc300;
    --accent2RGB:255, 195, 0;
    --textAccent1:white;
    --buttonAccent1:#ffc300;
    --buttonAccent2:#3140E8;
    --buttonAccent3:#0D8611;
    --boxShadow1:#000000a4;
    color:var(--textAccent1);
    background: var(--accent1);
    padding-top: 7dvh;
}

a{
    text-decoration: none;
    color: white;
    width: max-content;
}

.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    height: 8dvh;
    background: rgba(var(--accent1RGB), 0.6);
    backdrop-filter: blur(10px);
    padding: 0 8vw;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow:  0 1rem 20px 8px var(--boxShadow1);
    >ul{
        display: flex;
        gap: 1rem;
        width: 100%;
        height: 100%;
        list-style: none;
        align-items: center;
        justify-content: space-between;
        >li{
            height: 100%;
            width: 100%;
            >a{
                position: relative;
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all 0.22s;
                &::after{
                    content: "";
                    position: absolute;
                    bottom: 10%;
                    height: 0.2rem;
                    border-radius: 0.8rem;
                    width: 0%;
                    background: linear-gradient(160deg, rgba(var(--accent1RGB), 0.5), rgba(var(--accent2RGB), 1));
                    transition: all 0.22s;
                }
                &:hover{
                    background: rgba(var(--accent2RGB), 0.6);
                    &::after{
                        width: 50%;
                    }
                }
            }
        }
    }
    z-index: 100;
}
section{
    min-height: 100dvh;
    padding: 0 80px;
    position: relative;
    >.target{
        position: absolute;
        top: -5rem;
    }
}

.btn{
    border: none;
    border-radius: 0.2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--textAccent1);
    font-weight: bold;
}
.section-title{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 3dvh;
}
@media (max-width:768px) {
    section{
        min-height: 100dvh;
        padding: 0 20px;
    }
}