#hero{
    display: flex;
    justify-content: center;
    padding: 0;
    >.hero-gradient{
        position: absolute;
        width: 100vw;
        height: 100%;
        top: 0;
        background: linear-gradient( transparent 30%, var(--accent1)); ;
        z-index: -1;
    }
    >.hero-image-bg-container{
        position: absolute;
        width: 100vw;
        height: 100%;
        top: 0;
        overflow: hidden;
        z-index: -2;
        >.hero-image-bg{
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            top: 50%;
            left: 50%;
            opacity: 0.7;
            transform: translate(-50%, -50%);
        }
    }
    >.hero-content{
        padding: 0 90px;
        z-index: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        >.hero-text{
            display: flex;
            flex-direction: column;
            gap: 0.8rem;
            >.greetings-text{
                font-size: clamp(40px, 8vw, 90px);
                font-weight: bolder;
            }
            >.role-text{
                font-size: clamp(10px, 4vw, 40px);
                margin-top: -20px;
                font-weight:normal;
            }
            >.media-links{
                display: flex;
                align-items: center;
                justify-content: left;
                gap: 0.4rem;
                >.media-link{
                    width:clamp(40px, 4vw, 45px);
                    height: clamp(40px, 4vw, 45px);
                    transition: all 0.2s;
                    >figure{
                        border-radius: 50%;
                        background: rgba(var(--accent1RGB), 0.068);
                        padding: 0.4rem;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        >svg{
                            width: 100%;
                            height: 100%;
                            fill: rgba(var(--accent2RGB), 0.4);
                        }
                        &:hover{
                            background: rgba(128, 128, 128, 0.168);
                            >svg{
                                fill: var(--accent2);
                            }
                        }
                    }
                }
            }
            >.download-cv-link{
                margin-top: clamp(8px, 1vw, 20px);
                width: clamp(8rem, 100%, 14rem);
                >button{
                    height: 3rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: clamp(100%, 2vw, 1.4rem);
                    padding: 10px 20px;
                    border-radius: 5px;
                    width: 100%;
                    border: none;
                    background: var(--accent2);
                    color: var(--textAccent1);
                    font-weight: bold;
                    cursor: pointer;
                    box-shadow: 0 0 30px 4px var(--boxShadow1);
                    transition: all 0.2s ease-in-out;
                    &:hover{
                        scale:1.05;
                        box-shadow:  0 0 30px 8px rgba(var(--accent2RGB), 0.4);
                    }
                }
            }
        }
        >.hero-pfp{
            width: 50%;
            display: flex;
            >.my-pfp-container{
                position: relative;
                width: clamp(100px, 20vw , 400px);
                height: clamp(100px, 20vw , 400px);
                border-radius: 50%;
                aspect-ratio: 1/1;
                >.my-pfp{
                    width: 100%;
                    height: 100%;
                    aspect-ratio: 1/1;
                    object-fit: cover;
                    object-position: top;
                    border-radius: 50%;
                    z-index: 0;
                }
                >.code-icon{
                    position: absolute;
                    right: -10%;
                    top: -10%;
                    z-index: 1;
                    width: clamp(45px, 10vw, 100px);
                    height: clamp(45px, 10vw, 100px);
                    animation: fade-in 2s ease-in-out, floating 6s ease-in-out 2s infinite;
                    svg{
                        width: 100%;
                        height: 100%;
                        fill: var(--accent2);
                    }
                }
                >.cloud{
                    position: absolute;
                    transition: all 0.2s ease-in-out;
                    >img{
                        aspect-ratio: 1/1;
                        width: clamp(70px, 10vw , 200px);
                        height: auto;
                    }
                }
                .cloud-1{
                    bottom:-12%;
                    left: -15%;
                    z-index: -1;
                    animation: cloud-intro-left-right 1s ease, floating 4s ease-in-out 1s infinite;
                }
                .cloud-2{
                    bottom: -20%;
                    right: -20px;
                    animation: cloud-intro-right-left 0.8s ease, floating 5s ease-in-out 1.4s infinite;
                }
            }
            
        }
    }
}

@media (min-width: 768.5px){
    .hero-content{
        >.hero-text{
            padding-left: 3rem;
        }
        >.hero-pfp{
            padding-right: 5rem;
            justify-content: right;
        }
    }
}

@media (max-width: 768px){
    #hero{
        align-items: center;
        text-align: center;
        >.hero-content{
            display: flex;
            flex-direction: column;
            gap: 20px;
            >.hero-pfp{
                order: -1;
                justify-content: center;
            }
            >.hero-text{
                justify-content: center;
                align-items: center;
            }
        }
    }
    
}